body {
    margin: 0;
     background-color: #1F2937;
     border : solid white 4px;
       
}

.app{
   font-family: 'Inter';
}
.heading{
position: absolute;
width: 354px;
height: 80px;
left: 52px;
top: 70px;
font-family: 'Karla';
font-weight: 800;
font-size: 40px;
line-height: 40px;
letter-spacing: -0.025em;

color: #FFFFFF;   
}
.heading1{
   position: absolute;
width: 354px;
height: 80px;
left: 52px;
top: 115px;

font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
/* or 100% */

letter-spacing: -0.025em;

color: #4ADF86; 
}
.support{
position: absolute;
width: 372px;
height: 28px;
left: 52px;
top: 205px;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #D5D4D8;
}



#pass1-el{
    position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 396px;
font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #55F991;
background: #273549;
border-radius: 6px;
}
#pass2-el{
position: absolute;
width: 211px;
height: 39px;
left: 297px;
top: 396px;
font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #55F991;
background: #273549;
border-radius: 6px;
}


#butn-el{
position: absolute;
width: 191px;
height: 42px;
left: 52px;
top: 284px;
background: #10B981;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
padding: 9px 17px 9px 15px;
border: none;
}

#pass{
    display:flex;  
    
}